<div class="row">
  <div class="container-fluid">
  <div class="col-lg-10 col-lg-offset-1">
    <form class="products-search-form" action="/products/search" accept-charset="UTF-8" method="get">
    <input name="xiao" type="hidden" value="hizxb" />
    <div class="input-group">
      <input type="text" class="form-control" name="q" value="" placeholder="大家都在搜钢琴。。。">

      <span class="input-group-btn">
          <button type="submit" class="btn btn-default">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
</form>
</div>
</div>
</div
<div class="row">
  <% @products.each do |product| %>
    <div class="col-xs-6 col-md-3">
      <%= link_to(product_path(product,:q=>params[:q])) do %>
        <% if product.image.present? %>
          <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
        <% else %>
          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
        <% end %>
      <% end %>
      <%= product.title %> ￥ <%= product.price %>
    </div>
  <% end %>
</div>
